//color variables
$black: #000000;
$white: #ffffff;
$red: #ff0000;


//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/**
fonts
*/

* {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bowlby One', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px;
}

body {
    background-color: $black;
    color: $white;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
        padding: 20px;
    }
    .cartIconContainer {
        position: relative;
        display: flex;
        align-items: center;
        min-width: 160px;
        .cartIcon {
            font-size: 2rem;
        }
        #cartIconCircle {
            width: 30px;
            height: 30px;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 38px;
            padding-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #cartIconSum {
            margin-left: 30px;
        }
        
    }
    .hamburgerContainer {
        align-self: flex-start;
        .hamburgerIcon {
            font-size: 2rem;
        }
    }
    }
    