//color variables
$black: #000000;
$white: #ffffff;
$red: #ff0000;


//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/**
fonts
*/

* {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bowlby One', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    //padding: 20px;
}

body {
    background-color: $black;
    color: $white;
    padding: 20px;
}

header {
    display: grid;
    grid-template-areas: 'hamburgerContainer cartIconContainer' 'logo logo' 'pageTitle pageTitle';
    //flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    > div {
        padding: 20px;
    }
    .logo {
        grid-area: logo;
        justify-self: center;
        img {
            max-width: 100%;
        }
    }
    .pageTitle {
        grid-area: pageTitle;
        justify-self: center;
        text-align: center;
    }
    .cartIconContainer {
        grid-area: cartIconContainer;
        justify-self: end;
        position: relative;
        display: flex;
        align-items: center;
        min-width: 160px;
        .cartIcon {
            font-size: 2rem;
        }
        #cartIconCircle {
            width: 30px;
            height: 30px;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 38px;
            padding-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #cartIconSum {
            margin-left: 30px;
        }
        
    }
    .hamburgerContainer {
        grid-area: hamburgerContainer;
        justify-self: start;
        .hamburgerIcon {
            font-size: 2rem;
        }
    }
    }
.labelRow {
    border-bottom: 2px solid $white;
}    

.cartFooter > div {
    border-bottom: 1px solid $white;
}

//Stjärnor
.productRating {
    .material-symbols-outlined::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;              
    }
}
//hela

.productRating-0 .material-symbols-outlined:nth-child(n+1):nth-child(-n+5)::before {
    box-shadow: inset -24px 0 rgba(0,0,0,0.7);
}

.productRating-5 .material-symbols-outlined:nth-child(n+2):nth-child(-n+5)::before, .productRating-10 .material-symbols-outlined:nth-child(n+2):nth-child(-n+5)::before {
    box-shadow: inset -24px 0 rgba(0,0,0,0.7);
}

.productRating-15 .material-symbols-outlined:nth-child(n+3):nth-child(-n+5)::before, .productRating-20 .material-symbols-outlined:nth-child(n+3):nth-child(-n+5)::before {
    box-shadow: inset -24px 0 rgba(0,0,0,0.7);
}

.productRating-25 .material-symbols-outlined:nth-child(n+4):nth-child(-n+5)::before, .productRating-30 .material-symbols-outlined:nth-child(n+4):nth-child(-n+5)::before {
    box-shadow: inset -24px 0 rgba(0,0,0,0.7);
}

.productRating-35 .material-symbols-outlined:nth-child(5)::before, .productRating-40 .material-symbols-outlined:nth-child(5)::before {
        box-shadow: inset -24px 0 rgba(0,0,0,0.7);
    }
//halva
.productRating-5 .material-symbols-outlined:nth-child(1)::before {
    box-shadow: inset -12px 0 rgba(0,0,0,0.7);
}
.productRating-15 .material-symbols-outlined:nth-child(2)::before {
    box-shadow: inset -12px 0 rgba(0,0,0,0.7);
}
.productRating-25 .material-symbols-outlined:nth-child(3)::before {
    box-shadow: inset -12px 0 rgba(0,0,0,0.7);
}
.productRating-35 .material-symbols-outlined:nth-child(4)::before {
    box-shadow: inset -12px 0 rgba(0,0,0,0.7);
}
.productRating-45 .material-symbols-outlined:nth-child(5)::before {
    box-shadow: inset -12px 0 rgba(0,0,0,0.7);
}

/* }
.productRating-25  {
    .material-symbols-outlined:nth-child(3)::before {
        box-shadow: inset -12px 0 rgba(0,0,0,0.7);
    }
    .material-symbols-outlined:nth-child(n+4):nth-child(-n+5)::before {
        box-shadow: inset -24px 0 rgba(0,0,0,0.7);
    }
}
.productRating-05  {
    .material-symbols-outlined:nth-child(5)::before {
        box-shadow: inset -12px 0 rgba(0,0,0,0.7);
    } */

